* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    
    }

body
{
    background-color: #0f0f0f;
    color: #0f0e0e;
    line-height: 1.5;
}

.mainbody 
{
    max-width: 950px;
    margin: 35px auto;
    background: #ffffff;
    padding: 30px 30px;
    border: 5px solid #cccccc;
}

section 
{
    margin-bottom: 25px;
}

section h2 
{
    font-size: 20px;
    border-bottom: 1px solid #151515;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.heading
{ 
    text-align: center; 
    margin-bottom: 25px; 
}

.heading h1 
{ 
    font-size: 42px; 
    margin-bottom: 5px; 
}
.heading p 
{ 
    font-size: 18px; 
    color: #7d7575; 
}

ul 
{
    margin-left: 25px;
}

table 
{
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse
}

table th, table td 
{
    border: 1px solid #ccc2cc;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}


table th
{ 
    background-color: #d3cfcf; 
}

footer 
{ 
    text-align: center; 
    font-size: 14px; 
    color: #131313; 
    margin-top: 30px; 
    border-top: 2px solid #121112; 
    padding-top: 13px; 
}